* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: purple;
}

.head {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    margin-bottom: 10px;
}

.main-section {
    display: block;
    text-align: center;
    color: black;
}

.main-section h1 {
    font-size: 50px;
    font-weight: bolder;
    padding: 20px;
}

.main-section p {
    display: flex;
    justify-content: center;
    max-width: 80%;
    margin: auto;
    padding: 10px;
}

.button {
    background: purple;
    color: white;
    padding: 10px;
    width: 150px;
    border-radius: 10px;
    border: none;
    margin-top: 30px;
}

.button a {
    color: white;
}

.question {
    display: none;
    text-align: center;
}

.box {
    display: flex;
    justify-content: center;
    color: white;
    background-color: purple;
    border-radius: 10px;
    width: 600px;
    padding: 5px;
    margin: 5px auto;
}

.box:hover {
    background: violet;
}

ol {
    background: rgb(184, 7, 184);
    width: 60%;
    margin:auto;
    text-align: left;

}

ol li{
    padding: 3px;
}

li:nth-child(odd) {
    background: violet;
}

.scoreEntry {
    display: none;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.container {
    margin-top: 10;
    border-radius: 20px;
    padding: 20px;
    width: 50%;
    margin: auto;
    background: #FAF9F6;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-top: 10vh;
}

.name {
    text-align: center;
    font-weight: bold;
}

.button1 {
    background: purple;
    color: white;
    padding: 10px;
    width: 150px;
    border-radius: 10px;
    border: none;
}

.name {
    width: 90%;
    margin: 20px;
    padding: 3px;
}

.button1:hover {
    background: violet;
    transition: background 0.2s ease-in-out;
}
.button:hover {
    background: violet;
    transition: background 0.2s ease-in-out;
}
.clearScores {
    background: purple;
    color: white;
    padding: 10px;
    width: 150px;
    border-radius: 10px;
    border: none;
}
.backHome {
    margin-top: 20px;
    background: purple;
    color: white;
    padding: 10px;
    width: 150px;
    border-radius: 10px;
    border: none;
}
.clearScores:hover {
    background: violet;
    transition: background 0.2s ease-in-out;
}
.backHome:hover {
    background: violet;
    transition: background 0.2s ease-in-out;
}

.insideButton {
    color: white;
}

.bottom {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    font-size: 30px;
    color: #888;
    display: none;
}

.wrong {
    display: none;
}

.correct {
    display: none;
}


